@charset "UTF-8";



 table {
	margin:0 auto;
	width: 800px;
	height: 500px;
	border-collapse: collapse;
	
}

}
th {
	height: 50px;
	background-color: gray;
	border-bottom: 2px solid black;
	background-image: url('Back.jpg')
}

td {
	text-align: center;
	border-bottom: 1px solid gray;
	background-image: url('Back.jpg')
}

.td1 {
	width: 10%;
}

.td2 {
	width: 20%;
}

.title {
	text-align: left;
}

tr:hover {
	background-color: gray;
} 

body{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)
      ), url('Back.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}












