@charset "UTF-8";

.write-div{
	margin:0 auto;
	width: 800px;
	height: auto;
	background-color: gray;
	padding: 10px;
}

.write-div input{
	margin:0; padding:0;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}

.write-div textarea {
}

body{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)
      ), url('Back.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}

./* btn100{
	margin-top: -20px;
	width: 100%;
	height: 30px;
}
	
}

.write-div button {
	width: 100px;	*/
}

.btn {
	 position: absolute;
    top:50%
}
/*.ipt {
	margin: 100px;
	padding: 100px;
	width: 200px;
	
}

.tta {
	margin: 100px;
	padding: 100px;
	width: 200px;
	
	
	
} */




